<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ứng dụng quản lý bán thú cưng</title>

    <link rel="stylesheet" href="/css/management.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('include/_header', {name: 'Admin', header: 'Quản lí sản phẩm'})
    %>
    <main class="management">
      <a href="/v1/register">register</a>

      <div class="management-table">
        <table>
          <tr class="manage-users-header-table">
            <th>IDSP</th>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Đã bán</th>
            <th>Xóa</th>
            <th>Sửa</th>
          </tr>
          <% data.forEach(function(item,index) { %>
          <tr>
            <td scope="row"><%= index == 0 ? 1 : index+1 %></td>
            <td>
              <img class="img-product" src="<%= item.picture %>" alt="" />
            </td>
            <td><%= item.name %></td>
            <td><%= item.amount %></td>
            <td><%= item.price %></td>
            <td><%= item.sold %></td>
            <td><a href="/v1/management/delete/<%= item.id %>"><i class="fa-solid fa-trash"></i></a> </td>
            <td>
              
              <a href="/v1/management/edit/<%= item.id %>"
                >
                <i class="fa-solid fa-pen"></i
                  ></a>

            </td>



           
          </tr>
          <% });%>
        </table>
      </div>

      <%- include('include/_dashboard') %>
    </main>
  </body>
</html>
